services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
  backend:
    build:
      context: ./Back
      dockerfile: dockerfile
    command: npm run dev    
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
  frontend:
    build:
      context: ./Front
      dockerfile: dockerfile
    command: npm run dev
    depends_on:
      - backend
    ports:
      - "3000:3000"